@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  min-height: 100vh;
  overflow-x: clip;
}

/* ------------HomePage Nutrients css---------- */
.container {
  perspective: 1000px;
}
.card {
  transform-style: preserve-3d;
}
.sneaker {
  transform: translateZ(0px);
  transition: transform 0.3s ease;
}

/* -------------HomePage styling--------------- */
@media only screen and (max-width: 1110px) {
  .card {
    width: 16rem;
  }
  .learnMoreContainer {
    width: 11rem;
  }
  .learnMoreContainer button {
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1105px) {
  .HomePageContainerDiv {
    gap: 0;
  }
  .fitEggText {
    margin-top: 3.5rem;
  }
  .healthyEatingContainer {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .healthyEatingText {
    font-size: 50vw;
  }
  .healthyEatingTextAboveLine {
    font-size: 3vw;
  }
  .card {
    width: 18rem;
  }
  .learnMoreContainer {
    width: 14rem;
  }
  .learnMoreContainer p {
    flex: 1;
    text-align: center;
    font-size: 2rem;
  }
  .HomePageSection {
    padding: 0 40px;
  }
  .HomePageContainerDiv {
    flex-wrap: wrap;
  }
  .fitEggText {
    font-size: 20vw;
  }
  .eggImg {
    width: 40vw;
  }
  .authenticImg {
    width: 15vw;
  }
}
@media only screen and (max-width: 780px) {
  .healthyEatingText {
    font-size: 8vw;
  }
  .healthyEatingTextAboveLine {
    font-size: 3vw;
  }
  .authenticImg {
    width: 18vw;
  }
  .card {
    width: 18rem;
  }
}
@media only screen and (max-width: 700px) {
  .homePageRightSectionContainer {
    width: 100%;
    padding: 0px;
  }
  .authenticImg {
    width: 20vw;
  }
  .learnMoreandNutrientsContainer {
    display: flex;
  }
  .card {
    width: 17rem;
  }
}
@media only screen and (max-width: 649.5px) {
  .HomePageSection {
    padding: 0 6vw;
  }
  .HomePageContainerDiv {
    flex-direction: column;
    align-items: center;
  }
  .fitEggText {
    font-size: 15vw;
    margin-top: 0rem;
    line-height: normal;
  }
  .eggImg {
    width: 40vw;
  }
  .learnMoreandNutrientsContainer {
    justify-content: center;
    margin-top: 2rem;
  }
  .authenticImg {
    width: 23vw;
  }
}

/* -------------AboutUs mediaQueries starts-------------*/
@media only screen and (max-width: 640px) {
  .AboutUsWrapperDiv h2 {
    font-size: 2.5rem;
  }
  .AboutUsWrapperDiv {
    padding-top: 0rem;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
  .AboutUsWrapperDiv p {
    font-size: 0.8rem;
    font-weight: bolder;
  }
}
/*-------------AboutUs mediaQueries ends----------------*/