@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  perspective: 1000px;
}
.card {
  transform-style: preserve-3d;
}
.sneaker {
  transform: translateZ(0px);
  transition: transform 0.3s ease;
}

/* -------------HomePage styling--------------- */
@media only screen and (max-width: 1110px) {
  .card {
    width: 16rem;
  }
  .learnMoreContainer {
    width: 11rem;
  }
  .learnMoreContainer button {
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1105px) {
  .HomePageContainerDiv {
    gap: 0;
  }
  .fitEggText {
    margin-top: 3.5rem;
  }
  .healthyEatingContainer {
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 1000px) {
  .healthyEatingText {
    font-size: 50vw;
  }
  .healthyEatingTextAboveLine {
    font-size: 3vw;
  }
  .card {
    width: 18rem;
  }
  .learnMoreContainer {
    width: 14rem;
  }
  .learnMoreContainer p {
    flex: 1;
    text-align: center;
    font-size: 2rem;
  }
  .HomePageSection {
    padding: 0 40px;
  }
  .HomePageContainerDiv {
    flex-wrap: wrap;
  }
  .fitEggText {
    font-size: 20vw;
  }
  .eggImg {
    width: 40vw;
  }
  .authenticImg {
    width: 15vw;
  }
}
@media only screen and (max-width: 780px) {
  .healthyEatingText {
    font-size: 8vw;
  }
  .healthyEatingTextAboveLine {
    font-size: 3vw;
  }
  .authenticImg {
    width: 18vw;
  }
  .card {
    width: 18rem;
  }
}
@media only screen and (max-width: 700px) {
  .homePageRightSectionContainer {
    width: 100%;
    padding: 0px;
  }
  .authenticImg {
    width: 20vw;
  }
  .learnMoreandNutrientsContainer {
    display: flex;
  }
  .card {
    width: 17rem;
  }
}
@media only screen and (max-width: 649.5px) {
  .HomePageContainerDiv {
    flex-direction: column;
    align-items: center;
  }
  .fitEggText {
    font-size: 15vw;
    margin-top: 0rem;
    line-height: normal;
  }
  .eggImg {
    width: 40vw;
  }
  .learnMoreandNutrientsContainer {
    justify-content: center;
    margin-top: 2rem;
  }
  .authenticImg {
    width: 23vw;
  }
}

/* -------------AboutUs mediaQueries starts-------------*/
@media only screen and (max-width: 640px) {
  .AboutUsWrapperDiv h2 {
    font-size: 3rem;
  }
  .AboutUsWrapperDiv {
    padding-top: 0rem;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: center;
  }
  .AboutUsWrapperDiv p {
    font-size: 0.8rem;
    font-weight: bolder;
  }
}

/*-------------AboutUs mediaQueries ends----------------*/

/*------------ AboutUs animation starts---------------- */
@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .aboutUsVideoElement {
      animation: videoReveal linear forwards;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 45vh;
    }
    @keyframes videoReveal {
      0% {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
      }
      100% {
        opacity: 1;
        clip-path: inset(0 0 0 0);
      }
    }
  }
}
/*------------ AboutUs animation ends---------------- */

/*-------------BenifitsSection animations starts------------ */
@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    /* benifitsSectionDiv */
    .benifitsSectionWrapperDiv {
      animation: benifitsSectionWrapperDivTransform linear forwards;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: calc(100vh);
    }
    @keyframes benifitsSectionWrapperDivTransform {
      from {
        padding-top: 6rem;
      }
      to {
        padding-top: 0;
      }
    }
    /* benifitsSectionDiv */
    .benifitsSectionDiv {
      animation: benifitsSectionDivTransform linear forwards;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: calc(100vh);
    }
    @keyframes benifitsSectionDivTransform {
      from {
        border-radius: 50% 50% 0 0;
      }
      to {
        border-radius: 0 0 0 0;
      }
    }

    /* BENEFITS_heading */
    .BENEFITS_heading {
      animation: BENEFITS_heading_transform ease;
      animation-timeline: view(
        70vh 0px
      ); /* view(pageY offset(top se kitna neeche animation end hoga) , start point(bottom se kitne upar animation start hoga)) */
    }
    @keyframes BENEFITS_heading_transform {
      from {
        scale: 0.2;
        opacity: 0.5;
      }
      to {
        scale: 1;
        opacity: 1;
      }
    }

    /* egg animation */
    .benifit_egg {
      animation: translate-y ease-in;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 70vh;
    }

    @keyframes translate-y {
      from {
        transform: translateY(6rem);
        opacity: 0.5;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    /* benefits_left_img */
    .benefits_left_img {
      animation: translate-x ease-in;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 70vh;
    }
    @keyframes translate-x {
      from {
        transform: translateX(-100px);
        opacity: 0.4;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    /* benefits_right_img*/
    .benefits_right_img {
      animation: translate-right-img ease-in-out;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 70vh;
    }
    @keyframes translate-right-img {
      from {
        transform: translateX(100px);
        opacity: 0.4;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    /* ---------BenifitsSection animations ends--------- */

    /*--------HealthBenifits animation starts------------ */
    .yolk_img {
      animation: translate-y-yolk-img ease-in;
      animation-timeline: view();
      animation-range-start: 0px;
      animation-range-end: 70vh;
    }

    @keyframes translate-y-yolk-img {
      from {
        transform: translateY(10rem);
        opacity: 0.5;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
